<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" media="screen and (max-width: 897px)" href="../../css/mobile/login.css">
    <link rel="stylesheet" media="screen and (min-width: 898px)" href="../../css/desktop/login.css">
    <link rel="stylesheet" href="../../css/main.css">
    <title>Lower Price</title>
</head>

<body>
    <main>
        <div class="main-container">
            <div class="reset-password login-mobile">
                <div class="header-login">
                    <div class="logo-login">
                        <div class="container-logo">
                            <img src="../../images/header/logo/simbolo-do-dolar.png" alt="logotipo">
                        </div>
                    </div>
                </div>

                <div class="login-title">
                    <h1>Reset Password</h1>
                </div>

                <div class="login-form">
                    <form action="" method="get">
                        <label for="password">PASSWORD *</label></br>
                        <input type="password" name="password" id="password" placeholder="put your password here"></br>

                        <label for="password">CONFIRM PASSWORD *</label></br>
                        <input type="password" name="password" id="password" placeholder="put your password here"></br>

                        <button class="btn-large btn-mobile-small" type="submit">Forgot Password</button>
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>© Lower Price powered by Digital Rise UP - 2024</footer>
    <script src="./resources/js/style.js"></script>
</body>

</html>